base
*.o
*.[1-9].zst

adv_cmds/cap_mkdb/cap_mkdb
adv_cmds/colldef/colldef
adv_cmds/colldef/parse.c
adv_cmds/colldef/parse.h
adv_cmds/colldef/scan.c
adv_cmds/finger/finger
adv_cmds/gencat/gencat
adv_cmds/last/last
adv_cmds/locale/locale
adv_cmds/lsvfs/lsvfs
adv_cmds/mklocale/lex.c
adv_cmds/mklocale/mklocale
adv_cmds/mklocale/yacc.c
adv_cmds/mklocale/yacc.h
adv_cmds/ps/ps
adv_cmds/stty/stty
adv_cmds/tabs/tabs
adv_cmds/tty/tty
adv_cmds/whois/whois
basic_cmds/mesg/mesg
basic_cmds/uudecode/uudecode
basic_cmds/uuencode/uuencode
basic_cmds/write/write
bootstrap_cmds/migcom.tproj/lexxer.c
bootstrap_cmds/migcom.tproj/migcom
bootstrap_cmds/migcom.tproj/parser.c
bootstrap_cmds/migcom.tproj/parser.h
developer_cmds/asa/asa
developer_cmds/ctags/ctags
developer_cmds/rpcgen/rpcgen
developer_cmds/unifdef/unifdef
diskdev_cmds/dev_mkdb.tproj/dev_mkdb
diskdev_cmds/edquota.tproj/edquota
diskdev_cmds/fdisk.tproj/fdisk
diskdev_cmds/fsck.tproj/fsck
diskdev_cmds/fstyp.tproj/fstyp
diskdev_cmds/fstyp.tproj/fstyp_msdos
diskdev_cmds/fstyp.tproj/fstyp_ntfs
diskdev_cmds/fstyp.tproj/fstyp_udf
diskdev_cmds/mount_devfs.tproj/mount_devfs
diskdev_cmds/mount_fdesc.tproj/mount_fdesc
diskdev_cmds/quota.tproj/quota
diskdev_cmds/quotacheck.tproj/quotacheck
diskdev_cmds/quotaon.tproj/quotaon
diskdev_cmds/repquota.tproj/repquota
diskdev_cmds/setclass.tproj/setclass
diskdev_cmds/vndevice.tproj/vndevice
diskdev_cmds/vsdbutil.tproj/vsdbutil
doc_cmds/checknr/checknr
doc_cmds/colcrt/colcrt
doc_cmds/makewhatis/makewhatis
file_cmds/chflags/chflags
file_cmds/chmod/chmod
file_cmds/chown/chown
file_cmds/cksum/cksum
file_cmds/compress/compress
file_cmds/cp/cp
file_cmds/dd/dd
file_cmds/df/df
file_cmds/du/du
file_cmds/gzip/gzip
file_cmds/install/xinstall
file_cmds/ipcrm/ipcrm
file_cmds/ipcs/ipcs
file_cmds/ln/ln
file_cmds/ls/ls
file_cmds/mkdir/mkdir
file_cmds/mkfifo/mkfifo
file_cmds/mknod/mknod
file_cmds/mtree/mtree
file_cmds/mv/mv
file_cmds/pathchk/pathchk
file_cmds/pax/pax
file_cmds/rm/rm
file_cmds/rmdir/rmdir
file_cmds/rmt/rmt
file_cmds/stat/stat
file_cmds/touch/touch
mail_cmds/biff/biff
mail_cmds/comsat/comsat
mail_cmds/from/from
mail_cmds/mail/mail
mail_cmds/msgs/msgs
misc_cmds/calendar/calendar
misc_cmds/leave/leave
misc_cmds/ncal/ncal
misc_cmds/tsort/tsort
misc_cmds/units/units
network_cmds/arp.tproj/arp
network_cmds/cfilutil/cfilutil
network_cmds/dnctl/dnctl
network_cmds/ecnprobe/ecnprobe
network_cmds/ecnprobe/grammar.c
network_cmds/ecnprobe/grammar.h
network_cmds/ecnprobe/scanner.c
network_cmds/ecnprobe/scanner.h
network_cmds/frame_delay/frame_delay
network_cmds/ifconfig.tproj/ifconfig
network_cmds/ip6addrctl.tproj/ip6addrctl
network_cmds/kdumpd.tproj/kdumpd
network_cmds/mnc.tproj/mnc
network_cmds/mptcp_client/mptcp_client
network_cmds/mtest.tproj/mtest
network_cmds/ndp.tproj/ndp
network_cmds/netstat.tproj/netstat
network_cmds/ping.tproj/ping
network_cmds/ping6.tproj/ping6
network_cmds/pktapctl/pktapctl
network_cmds/pktmnglr/pktmnglr
network_cmds/rarpd.tproj/rarpd
network_cmds/route.tproj/route
network_cmds/rtadvd.tproj/rtadvd
network_cmds/rtsol.tproj/rtsol
network_cmds/spray.tproj/spray
network_cmds/spray.tproj/spray.h
network_cmds/spray.tproj/spray_xdr.c
network_cmds/traceroute.tproj/traceroute
network_cmds/traceroute6.tproj/traceroute6
patch_cmds/diffstat/diffstat
patch_cmds/patch/patch
remote_cmds/logger.tproj/logger
remote_cmds/talk.tproj/talk
remote_cmds/talkd.tproj/talkd
remote_cmds/telnet.tproj/telnet
remote_cmds/telnetd.tproj/telnetd
remote_cmds/tftp.tproj/tftp
remote_cmds/tftpd.tproj/tftpd
remote_cmds/wall.tproj/wall
shell_cmds/apply/apply
shell_cmds/basename/basename
shell_cmds/chroot/chroot
shell_cmds/date/date
shell_cmds/dirname/dirname
shell_cmds/echo/echo
shell_cmds/env/env
shell_cmds/expr/expr
shell_cmds/expr/expr.c
shell_cmds/expr/expr.h
shell_cmds/false/false
shell_cmds/find/find
shell_cmds/find/getdate.c
shell_cmds/find/getdate.h
shell_cmds/getopt/getopt
shell_cmds/hexdump/hexdump
shell_cmds/hostname/hostname
shell_cmds/id/id
shell_cmds/jot/jot
shell_cmds/kill/kill
shell_cmds/killall/killall
shell_cmds/lastcomm/lastcomm
shell_cmds/locate/bigram/locate.bigram
shell_cmds/locate/code/locate.code
shell_cmds/locate/locate/locate
shell_cmds/logname/logname
shell_cmds/mktemp/mktemp
shell_cmds/nice/nice
shell_cmds/nohup/nohup
shell_cmds/path_helper/path_helper
shell_cmds/printenv/printenv
shell_cmds/printf/printf
shell_cmds/pwd/pwd
shell_cmds/renice/renice
shell_cmds/script/script
shell_cmds/seq/seq
shell_cmds/sh/builtins.c
shell_cmds/sh/builtins.h
shell_cmds/sh/mknodes
shell_cmds/sh/mksyntax
shell_cmds/sh/nodes.c
shell_cmds/sh/nodes.h
shell_cmds/sh/sh
shell_cmds/sh/syntax.c
shell_cmds/sh/syntax.h
shell_cmds/sh/token.h
shell_cmds/shlock/shlock
shell_cmds/sleep/sleep
shell_cmds/su/su
shell_cmds/systime/systime
shell_cmds/tee/tee
shell_cmds/test/test
shell_cmds/time/time
shell_cmds/true/true
shell_cmds/uname/uname
shell_cmds/users/users
shell_cmds/w/w
shell_cmds/what/what
shell_cmds/whereis/whereis
shell_cmds/which/which
shell_cmds/who/who
shell_cmds/xargs/xargs
shell_cmds/yes/yes
system_cmds/ac.tproj/ac
system_cmds/accton.tproj/accton
system_cmds/arch.tproj/arch
system_cmds/at.tproj/at
system_cmds/atrun.tproj/atrun
system_cmds/chkpasswd.tproj/chkpasswd
system_cmds/cpuctl.tproj/cpuctl
system_cmds/dmesg.tproj/dmesg
system_cmds/dynamic_pager.tproj/dynamic_pager
system_cmds/gcore.tproj/gcore
system_cmds/getconf.tproj/conflicting.names
system_cmds/getconf.tproj/confstr.c
system_cmds/getconf.tproj/confstr.names
system_cmds/getconf.tproj/getconf
system_cmds/getconf.tproj/limits.c
system_cmds/getconf.tproj/limits.names
system_cmds/getconf.tproj/pathconf.c
system_cmds/getconf.tproj/progenv.c
system_cmds/getconf.tproj/sysconf.c
system_cmds/getconf.tproj/sysconf.names
system_cmds/getconf.tproj/unique.names
system_cmds/getty.tproj/getty
system_cmds/hostinfo.tproj/hostinfo
system_cmds/iosim.tproj/iosim
system_cmds/iostat.tproj/iostat
system_cmds/kpgo.tproj/kpgo
system_cmds/latency.tproj/latency
system_cmds/login.tproj/login
system_cmds/lskq.tproj/lskq
system_cmds/lsmp.tproj/lsmp
system_cmds/ltop.tproj/ltop
system_cmds/mean.tproj/mean
system_cmds/memory_pressure.tproj/memory_pressure
system_cmds/mkfile.tproj/mkfile
system_cmds/mslutil/mslutil
system_cmds/newgrp.tproj/newgrp
system_cmds/nologin.tproj/nologin
system_cmds/nvram.tproj/nvram
system_cmds/passwd.tproj/passwd
system_cmds/proc_uuid_policy.tproj/proc_uuid_policy
system_cmds/purge.tproj/purge
system_cmds/pwd_mkdb.tproj/pwd_mkdb
system_cmds/reboot.tproj/reboot
system_cmds/sa.tproj/sa
system_cmds/sc_usage.tproj/sc_usage
system_cmds/shutdown.tproj/shutdown
system_cmds/stackshot.tproj/stackshot
system_cmds/sync.tproj/sync
system_cmds/sysctl.tproj/sysctl
system_cmds/taskpolicy.tproj/taskpolicy
system_cmds/trace.tproj/trace
system_cmds/vifs.tproj/vifs
system_cmds/vipw.tproj/vipw
system_cmds/vm_purgeable_stat.tproj/vm_purgeable_stat
system_cmds/vm_stat.tproj/vm_stat
system_cmds/wait4path/wait4path
system_cmds/wordexp-helper.tproj/wordexp-helper
system_cmds/zdump.tproj/zdump
system_cmds/zic.tproj/zic
text_cmds/banner/banner
text_cmds/cat/cat
text_cmds/col/col
text_cmds/colrm/colrm
text_cmds/column/column
text_cmds/comm/comm
text_cmds/csplit/csplit
text_cmds/cut/cut
text_cmds/ed/ed
text_cmds/ee/ee
text_cmds/expand/expand
text_cmds/fmt/fmt
text_cmds/fold/fold
text_cmds/grep/grep
text_cmds/head/head
text_cmds/join/join
text_cmds/lam/lam
text_cmds/look/look
text_cmds/md5/md5
text_cmds/nl/nl
text_cmds/paste/paste
text_cmds/pr/pr
text_cmds/rev/rev
text_cmds/rs/rs
text_cmds/sed/sed
text_cmds/sort/sort
text_cmds/sort/sort.1
text_cmds/split/split
text_cmds/tail/tail
text_cmds/tr/tr
text_cmds/ul/ul
text_cmds/unexpand/unexpand
text_cmds/uniq/uniq
text_cmds/unvis/unvis
text_cmds/vis/vis
text_cmds/wc/wc
